*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Anek Malayalam', sans-serif;
}
body{
    background: url(/img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* General */
h1,
h2,
p,
li,
a{
    margin: 0;
    font-weight: 400;
}
.accent-text{
    color: rgb(9, 255, 0);
}

h2{
    text-align: center;
}
.result-text{
    margin: 1em 0;
    text-align: center;
    font-size: 1.4em;
}
.operation-complete{
    text-align: center;
}
#site-bg{
    height: 100%;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.before,
.after{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    border-radius: 36px;
    border: 1px #fff solid;
    padding: 1em;

    box-shadow: rgba(0, 0, 0, 0.747) 8px 20px 40px 8px
}

@media (min-width: 500px){
    #main-component{
        max-width: 40%;
    }
}

@media (min-width: 900px){
    #main-component{
        max-width: 30%;
    }
}

.input{
    outline: none;
    border: none;
    border-radius: 8px;

    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 0.9em 1.4em;    
    text-align: center;
    color: #fff;
}
.button-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.counter-btn{
    outline: none;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    border: 1px #fff solid;
    background-color: rgba(0, 0, 0, 0.336);
    color: #fff;
}
.btn{
    margin-top: 1em;
    padding: .9em 1.5em;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 8px;
    
}
#clear-btn{
    background-color: rgb(0, 43, 136)
}
#calculate-btn{
    background-color: rgb(4, 110, 0);
}
#go-back{
    outline: none;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    border: 1px #fff solid;
    background-color: rgba(0, 0, 0, 0.336);
    color: #fff;
}
/* !!! */
#share{
    outline: none;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    border: 1px #fff solid;
    background-color: rgba(0, 0, 0, 0.336);
    color: #fff;
}


/* After */

.before{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.after{
    display: grid;
    grid: 20% 80% / 30px 1fr 30px;

    grid-template-areas: 
    "g o o s"
    "r r r r"
    "r r r r";
}
#go-back{
    grid-area: g;
}
.operation-complete{
    grid-area: o;
}
#share{
    grid-area: s;
}
.result-text{
    grid-area: r;
}
.inactive{
    display: none;
}