*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Anek Malayalam', sans-serif;
}
/* General */
h1,
h2,
p,
li,
a{
    margin: 0;
    font-weight: 400;
}
html{
    background: url(/img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2{
    text-align: center;
}
.site-bg{
    height: 100%;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.main-component{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    border-radius: 36px;
    border: 1px #fff solid;
    padding: 1em;

    box-shadow: rgba(0, 0, 0, 0.747) 8px 20px 40px 8px
}

@media (min-width: 500px){
    .main-component{
        max-width: 40%;
    }
}

@media (min-width: 900px){
    .main-component{
        max-width: 30%;
    }
}

.input{
    outline: none;
    border: none;
    border-radius: 8px;

    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 0.9em 1.4em;    
    text-align: center;
    color: #fff;
}
.button-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.counter-btn{
    outline: none;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    border: 1px #fff solid;
    background-color: rgba(0, 0, 0, 0.336);
    color: #fff;
}
.btn{
    margin-top: 1em;
    padding: .9em 1.5em;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 8px;
    
}
#clear-btn{
    background-color: rgba(0, 81, 255, 0.336);
}
#calculate-btn{
    background-color: rgb(4, 110, 0);
}

.split-sect{


}
.split-input{
    align-self: center;
}